/* Fonts and colors */
body{
    background: rgb(245,245,245);
    color: rgb(20, 20, 20);
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: lighter;
    font-size: 18px;
    padding: 0px 25px;
  }
  strong { 
  font-weight: bold;
}
  h1{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 32px;
    font-weight: bold;
    /*padding: 0px 25px;*/
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: lighter;
    font-size: 22px;
    /*padding: 0px 25px;*/
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: lighter;
    font-size: 18px;
    /*padding: 0px 25px;*/
  }
  h4 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: lighter;
    font-size: 14px;
    /*padding: 0px 25px;*/
  }
  /* Custom design */
#Body_text_mid h2 {
    /*padding: 0px 0px;*/
  }
#Body_text_end h2 {
    /*padding: 0px 40px;*/
  }
#Body_text_end h3 {
    /*padding: 0px 40px;*/
  }
#Var_width {
  width: 100%;
  height: auto;
}
#StemACV
 {
  width: auto;
  height: 100%;
}
#footer {
  background: #e0ecc4;
  color: rgb(20, 20, 20);
  font-size: 18px;
  padding: 10px 20px;
}
#footer a {
  font-size: 25px;
  color: #037974;
}
#footer a:hover {
  color: #87bd27;
}
